<div class="sidebar">
  <div class="logo">
    <h2>Magma</h2>
    <h6>Exzental Solutions</h6>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="accueil" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="patients" routerLinkActive="active">Gestion des patients</a></li>
      <li><a routerLink="parametres" routerLinkActive="active">Gestion des assurances</a></li>
      <li><a routerLink="rapports" routerLinkActive="active">Gestion des relations</a></li>
    </ul>
  </div>
</div>
